@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #1F1F1F;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.swiper, swiper-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 0!important;
  display: block;
}

/* Dark Mode CSS */
.dark-mode {
  background-color: #181622!important;
  color: #fff!important;
}

.my-modal-color {
  background-color: #1F1F1F; /* ganti dengan warna yang diinginkan */
}

.my-btn {
  position: relative;
  transform: translateY(-30px);
}

